* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/* Variables CSS globales (colores, fuentes) */

:root {
  /* VARIABLES DE COLORES */
  --color-primary: #c00000;
  --color-white: #ffffffff;
  --color-brack: #00000088;
  --color-caja-url: #e4e1e1ff;

  --color-caja-url-hover: #d8d7d7ff;
  --color-azul-hover: #2c2c7de6;
  --color-borde-caja: #a14949ff;

  /* VARIABLES FUENTES */
  --family-primary: "Roboto", monospace, sans-serif;
  --family-secondary: "Montserrat", monospace, sans-serif;

  /* VARIABLES DE TAMAÑO */
  --size-14: 1.4rem;
  --size-16: 1.6rem;
  --size-2: 2rem;
  --size-25: 2.5rem;
  --card-text-line-height: 23px;
  --letter-spacing-2: 2px;
  --gap-10: 10px;

  /* VARIABLES DE ASPECTO */
  --border-radius-top: 10px;
  --border-radius-wave: 30px;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-white);
  color: #000;
}

/* Header */
.header {
  height: 210px;
  width: 100%;

  & #content-logo {
    background: var(--color-primary);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center; /* centra en horizontal */
    align-items: flex-end; /* lleva el contenido al borde inferior */
    position: relative; /* para que el desbordamiento se “pegue” al header */
  }

  & #logo {
    border-radius: 12px;
    position: absolute;
    transform: translateY(50%); /* ✅ lo baja la mitad de su tamaño */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 120px;
    max-width: 100%; /* ✅ se adapta en pantallas chicas */
    border-radius: 12px;
  }
}

/* Texto de la empresa */
.content-empresa {
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .content-empresa-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & #icons-chevron {
      transform: rotate(-90deg);
      width: 23px;
    }

    & .content-icons-support {
      display: flex;
      flex-direction: column;
    }
    
  }
}

h1 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: var(--color-brack);
}

/* Lista de tableros */
.content-links {
  padding: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .links {
    border: 1px solid var(--color-borde-caja);
    padding: 5px 15px;
    font-width: bold;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    text-decoration: none;
    background: var(--color-caja-url);
    color: var(--color-brack);
    transition: background 0.3s ease;

    &:hover {
      background: var(--color-caja-url-hover);
      text-decoration: underline var(--color-borde-caja);
    }
  }
}
