* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/* Variables CSS globales (colores, fuentes) */

:root {
  /* VARIABLES DE COLORES */
  --color-primary: #c00000;
  --color-white: #ffffffff;
  --color-brack: #00000088;
  --color-caja-url: #e4e1e1ff;

  --color-caja-url-hover: #d8d7d7ff;
  --color-azul-hover: #2c2c7de6;

  /* VARIABLES FUENTES */
  --family-primary: "Roboto", monospace, sans-serif;
  --family-secondary: "Montserrat", monospace, sans-serif;

  /* VARIABLES DE TAMAÑO */
  --size-14: 1.4rem;
  --size-16: 1.6rem;
  --size-2: 2rem;
  --size-25: 2.5rem;
  --card-text-line-height: 23px;
  --letter-spacing-2: 2px;
  --gap-10: 10px;

  /* VARIABLES DE ASPECTO */
  --border-radius-top: 10px;
  --border-radius-wave: 30px;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-white);
  color: #000;
}

/* Header */
.header {
  height: 210px;
  weight: 100%;

  & #content-logo {
    background: var(--color-primary);
    height: 150px;
    weight: 100%;
    display: flex;
    justify-content: center; /* centra en horizontal */
    align-items: flex-end; /* lleva el contenido al borde inferior */
    position: relative; /* para que el desbordamiento se “pegue” al header */
  }

  & #logo {
    border-radius: 12px;
    position: absolute;
    transform: translateY(50%); /* ✅ lo baja la mitad de su tamaño */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 120px;
    max-width: 100%; /* ✅ se adapta en pantallas chicas */
    border-radius: 12px;
  }
}


/* Texto de la empresa */
.empresa {
  weight: 100%;
  padding: 20px 0px;
  text-align: center;

  & h1 {
    font-size: 20px;
  }

  & p {
    font-size: 14px;
    color: var(--color-brack);
  }
}


/* Lista de tableros */
ul {
  //border: 2px solid blue;
  list-style: none;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: var(--color-caja-url);
    margin-bottom: 8px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;

    &:hover {
      background: var(--color-caja-url-hover);
    }

    & a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      weight: 100%;
      height: 45px;
      text-decoration: none;
      color: var(--color-brack);
      margin-left: 10px;

        &:hover {
        text-decoration: underline;
      }
    }

  }
}